### Basic While loop

In [1]:
a = 1
b = 10
while a <=b :    
    a = a +1
    print(a)

2
3
4
5
6
7
8
9
10
11

### While-Else loop with condition

In [2]:
a = 1
b = 10 
while a <=b :
    print(a)
    a = a +2
else :
    print("print this else block")

1
3
5
7
9
print this else block

### While loop with break condition

In [3]:
a = 1 
b = 10 
while a <10 :
    print(a)
    if a == 5:
        break
    a = a +1
else :
    print("print this ")

1
2
3
4
5

### While loop with continue condtion

In [ ]:
a = 1 
b = 10 
while a < b :
    print(a)
    if a == 3:
        continue
    a = a +1

### Print index position of specified number in a tuple

In [4]:
t = (3,4,5,6,7,8,9)

In [5]:
len(t)

7

In [6]:
t[2]

5

In [7]:
t = (3,4,5,6,7,8,9)
a = 0 
while a < len(t):
    if t[a] == 6 or t[a] == 7 :
        print(a)
    a = a +1

3
4

### Print values in dict using while loop

In [8]:
d = {'k1' :"python" , "k2" :[1,2,3,4] , "k3" : (2,3,4,5)}

In [9]:
list(d.keys())

['k1', 'k2', 'k3']

In [10]:
len(d)

3

In [11]:
a = 0 
b = list(d.keys())
while a < len(d):
    print(d[b[a]])
    
    a = a+1

python
[1, 2, 3, 4]
(2, 3, 4, 5)

# Function

In [12]:
def test():
    print("this is my first function")

In [13]:
test()

this is my first function

In [14]:
str(test()) + " python"

this is my first function

'None python'

In [15]:
type(test())

this is my first function

NoneType

### Fuction with return as oputput

In [16]:
def test1():
    return "this is my first function of"

In [17]:
test1()

'this is my first function of'

In [18]:
test1() + " Python"

'this is my first function of Python'

### Assigning values using function

In [19]:
def test3() : 
    return 1,3 ,5 , [1,2,3,4,54,5]

In [20]:
test3()

(1, 3, 5, [1, 2, 3, 4, 54, 5])

In [21]:
a,b,c,d = test3()

In [22]:
a

1

In [23]:
b

3

In [24]:
c

5

In [25]:
d

[1, 2, 3, 4, 54, 5]

### Assigning computed values

In [26]:
def test4() : 
    a = 4*5
    b = 6+4
    return a , b

In [27]:
g = test4()

In [28]:
g

(20, 10)

In [29]:
j,k = test4()

In [30]:
j

20

In [31]:
k

10

In [32]:
test3()

(1, 3, 5, [1, 2, 3, 4, 54, 5])

In [33]:
_ ,_ , _ , g = test3()

In [34]:
g

[1, 2, 3, 4, 54, 5]

### While loop with function

In [35]:
def test5() : 
    a  = 1
    b = 10 
    while a <=b :
        print(a)
        a = a +2
    else :
        print("print this else block")

In [36]:
test5()

1
3
5
7
9
print this else block

### Function to append the values in empty list

In [37]:
def test5(a,b) : 
    l = []
    while a <=b :
        #print(a)
        l.append(a)
        a = a +2
    
    else :
        print( "print this else block")
    return l

In [38]:
test5(1,10)

print this else block

[1, 3, 5, 7, 9]

In [39]:
test5(30,2)

print this else block

[]

### Filter values and append using for loop

In [40]:
l = [4,5,6,67,7,8,8,9,9,9, [3,4,5,6,7,7] , "python"]

In [41]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [42]:
l1

[4, 5, 6, 67, 7, 8, 8, 9, 9, 9]

In [43]:
def test7() : 
    l1 = []
    for i in l :
        if type(i) == int:
            l1.append(i)
    return l1

In [44]:
test7()

[4, 5, 6, 67, 7, 8, 8, 9, 9, 9]

### FUNCTION TO USE ANY LIST AND FILTER INTEGER VALUES ONLY

In [45]:
l3 = [345,45,5,5,6,5,"python",(4,6,6)]

In [46]:
test7(l3)

TypeError: test7() takes 0 positional arguments but 1 was given

In [ ]:
t = (3,4,5,6,67,7,87,)
a=-1
while a>=-len(t):
    if t[a]==6 or t[a]==7 :
        print('index of ',t[a], ' is ',a)
    a=a-1

### FUNCTION TO USE ANY tuple AND FILTER INTEGER VALUES ONLY

In [47]:
def test8(t):
    a=-1
    while a>=-len(t):
        if t[a]==6 or t[a]==7 :
            print('index of ',t[a], ' is ',a)
        a=a-1

In [48]:
test8(t)

index of  7  is  -3
index of  6  is  -4

In [49]:
test8((3,4,4,6,6,7,7,7,88))

index of  7  is  -2
index of  7  is  -3
index of  7  is  -4
index of  6  is  -5
index of  6  is  -6

# PYTHON IMPLEMENTATIONS

### print all the number divisible by 3 in between a range of 40 - 400

In [50]:
for i in range(40, 401):
    i % 3 == 0
    print(i)

40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400

### Try to filter out all the vowels form below text by using while loop

In [52]:
text = """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc"""

In [53]:
vowels = "aeiouAEIOU"
filtered_text = ""
i = 0
while i < len(text):
    if text[i] in vowels:
        filtered_text += text[i]
    i += 1
print(filtered_text)

oiaieeieeeeeauoeoaiauaeIeiiooeaieoeeaaiiieueoiiiaieaiooiaiaeaaaeoeeIuouieoaiaaiiuiuueaiuaoeuaoeoieeauioaoaiIioeeieaaaeieiueauaeueoioeeieaaiauioaoueaoiooieaeaaueooeAoaiauaeaieeaeiiaooaeeaeiaioueeeaueuaioeeioeeeiaaeoeioeeeeouiaUioeuooeeaeiaaaoeiioaiooeeaaoaieieaieeiooaioiueieioiooieaaoeoeoouaoaiauae

### generate all the even number between 1- 1000

In [54]:
for i in range(1,1001):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400
402
404
406
408
410
412
414
416
418
420
422
424
426
428
430
432
434
436
438
440
442
444
446
448
450
452
454
456
458
460
462
464
466
468
470
472
474
476
478
480
482
484
486
488
490
492
494
496
498
500
502
504
506
508
510
512
514
516
518
520
522
524
526
528
530
532
534
536
538
540
542
544
546
548
550
552
554
556
558
560
562
564
566
568
570
572
574
576
578
580
582
584
586
588
590
592
594
596
598
600
602
604
606
608
610
612
614
616
618
620
622
624
626
628
630
632
634
636
638
640
642
644
646
648
650
652
654
656
658
660
662
664
666
668
670
672
674
676
678
680
682
684
686
688
690
692
694
696
698
700
702
704
706
708
710
712
714
716
718
720
722
724
726
728
730
732
734
736
738
740
742
744
746
748
750
752
754
756
758
760
762
764
766
768
770
772
774
776
778
780
782
784
786
788
790
792
794
796
798
800
802
804
806
808
810
812
814
816
818
820
822
824
826
828
830
832
834
836
838
840
842
844
846
848
850
852
854
856
858
860
862
864
866
868
870
872
874
876
878
880
882
884
886
888
890
892
894
896
898
900
902
904
906
908
910
912
914
916
918
920
922
924
926
928
930
932
934
936
938
940
942
944
946
948
950
952
954
956
958
960
962
964
966
968
970
972
974
976
978
980
982
984
986
988
990
992
994
996
998
1000

### code to get a time of your system

In [55]:
import datetime

# get the current time
now = datetime.datetime.now()

# print the time
print("Current time: ", now.time())

Current time:  20:15:46.714243

### code to fetch date form your system

In [56]:
import datetime

# get the current date
today = datetime.date.today()

# print the date
print("Today's date: ", today)

Today's date:  2023-03-20

### Write a code to send a mail to your friend

In [57]:
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

In [ ]:
# Set up the email parameters
sender_email = "padmeshkg@gmail.com"
receiver_email = "deveshbhardwaj14@gmail.com"
password = "**********"

message = MIMEMultipart("alternative")
message["Subject"] = "Email via python code"
message["From"] = sender_email
message["To"] = receiver_email

# Add body to email
text = "Hello, this email is from python code"
message.attach(MIMEText(text, "plain"))

# Create secure connection with server and send email
context = smtplib.SMTP_SSL("smtp.gmail.com", 465)
context.login(sender_email, password)
context.sendmail(sender_email, receiver_email, message.as_string())
context.quit()

print("Email sent successfully to", receiver_email)

    
q10 : write a code to trigger alarm for you at scheduled time 

q11 : write a code to check ip address of your system 

q12 : Write a code to check a perticular installation in your system

q13 : Write a code to convert any text in to voice 

q14 : you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len

q15 :write a fun which will be able to print an index of all premitive element which you will pass 

q16 : Write a fun which will take input as a dict and give me out as a list of all the values 
even in case of 2 level nesting it should work . 

q17 : write a function whihc will take multiple list as a input and give me concatnation of all the element as 
and output

q18 : Write a function which will whould return list of all the file name from a directory . 

q19 : write a function whihc will be able to read a image file and show it to you .
    
q20 : write a function by which you will be able to append two PDF files . 
    
q21 : write a function which can help you to filter only word file from a directory . 
    
q22 : write a function which can read video file and play for you . 
    
q23 : write a function which will be able to shutdonw your system . 

q24 : Write a function which will whould return list of all the file name from a directory . 

q25 : write a function whihc will be able to access your mail .

In [58]:
import math

n2=5
str="python"
middle=math.floor(n2/2) if n2%2==0 else math.ceil(n2/2)
# first half
for l in range(1,n2+1):
    if l<=middle:
        k=middle-l
        for i in range(k):
            print(" "*len(str),end=" ")
        print((str+" "+" "*len(str)+" ")*l)
    else: # last half in reverse order
        r_spc=l-middle
        r= n2-l+1 #(5+1-4,5+1-5)
        for r2 in range(r):
            print(" "*len(str)*r_spc,str,end= " ")
        print("\n")

              python
       python        python
python        python        python
       python        python

             python

In [59]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]

for i in l:
    m = 1
    if type(i) == tuple or type(i) == list or type(i) == set :
        for j in i:
            if type(j) == int:
                m *= j
        print('Multipilcation of',type(i),'is',m)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int and type(v) == int:
                m = m * k
                m = m * v
        print('Multipilcation of',type(i),'is',m)

Multipilcation of <class 'list'> is 24
Multipilcation of <class 'tuple'> is 720
Multipilcation of <class 'tuple'> is 2520
Multipilcation of <class 'set'> is 20700
Multipilcation of <class 'dict'> is 1008
Multipilcation of <class 'list'> is 1